@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--caveat-font), sans-serif;
}


h1 {
  font-size: 80px;
  font-weight: 700;
}

h2 {
  font-size: 62px;
  font-weight: 700;
}

h3 {
  font-size: 56px;
  font-weight: 700;
}

h4 {
  font-size: 42px;
  font-weight: 700;
}

h4 {
  font-size: 32px;
  font-weight: 700;
}

body1 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
}

body2 {
  font-size: 20px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
}

body3 {
  font-size: 16px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
}

body4 {
  font-size: 16px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
}


.full-background {
  height: 100vh; /* เต็มความสูงของ viewport */
  width: 100%; /* เต็มความกว้าง */
  display: flex; /* ใช้ flexbox สำหรับการจัดตำแหน่ง */
  align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
  justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
  background-image: url('/background.jpg'); /* อ้างอิงถึงรูปในโฟลเดอร์ public */
  background-size: cover; /* ครอบคลุมเต็มพื้นที่ */
  background-position: center; /* อยู่ตรงกลาง */
  background-repeat: no-repeat; /* ไม่ให้รูปซ้ำ */
}

.box-background {
  background-color: rgba(255, 255, 255, 0.5); /* สีขาวความทึบ 50% */
  border-radius: 16px; /* มุมโค้ง 16px */
  backdrop-filter: blur(2px); /* พื้นหลังเบลอ */
  -webkit-backdrop-filter: blur(2px); /* รองรับ Safari */
}

.input-field {
  background-color: rgba(255, 255, 255, 0.4); /* สีขาวกับความทึบ 40% */
  border-radius: 8px; /* มุมโค้ง 8px */
  border: 1px solid white; /* ขอบสีขาว */
  padding: 0.5rem; /* การเพิ่ม padding สำหรับ input */
}
/* เมื่อ input อยู่ในสถานะ focus */
.input-field:focus {
  border-color: var(--maincolor); /* เปลี่ยนขอบเป็นสี maincolor */
  outline: none; /* ลบเส้นขอบที่เพิ่มขึ้นมาโดย default */
}

.text-shadow-lg {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

